@import url(../vendor/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
}
.page {
  margin: 0 auto;
  width: 90%;
  background: rgb(242, 242, 242);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: rgb(72, 72, 72);
  font-family: 'Montserrat', 'Times New Roman', Times, serif;
}
.header {
  margin: 0 auto;
}
.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
ul {
  margin: 0 20px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.element {
  position: relative;
  border: 2px solid rgb(92, 92, 92);
  border-radius: 0% 10% 0 10%;
  width: 300px;
  margin-top: 15px;
}
h3 {
  margin: 10px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
p {
  margin: 10px;
  text-align: right;
}
.checkbox {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 15px;
  bottom: 10px;
}
h1 {
  margin: 30px auto;
  text-align: center;
  font-size: 3em;
}
h2 {
  margin: 25px auto;
  font-size: 2.5em;
}
.onClick {
  color: rgb(242, 242, 242);
  background-color: black;
  background: rgb(72, 72, 72);
}
.button {
  width: 20px;
  height: 20px;
  background: rgb(72, 72, 72);
  border-radius: 50%;
  cursor: pointer;
  border: none;
  text-align: center;
  align-self: center;
  margin-left: 10px;
}
.input {
  border: 1px solid rgb(72, 72, 72);
  border-radius: 5px;
  padding: 5px;
}
.input:focus {
  outline: none;
  border: 1px solid rgb(72, 72, 72, 0.5);
}
form {
  display: flex;
}
